.container {
    width: 100%; /* Largura total */
    height: 200px;
    
    margin-bottom: 20px;
    background-color: #fff;
    border-top: 1px solid #ccc; /* Linha superior */
    border-bottom: 2px solid #ccc; /* Linha inferior */
    box-sizing: border-box; /* Isso garante que a largura total inclua a borda */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}



.image-section {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 100px;
}

.image {
    width: 180px;
    border-radius: 50%;
}

.info-section {
    margin-top: 30px;
    text-align: center;
    flex-grow: 1;
}

.info-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}